---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RsUIbMyxLQszELZQEXHTeFA9008YRV7Vhr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_N77cfXMnsSNumo",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1672924836,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "card_1MMtPjEI1oHzFYTAv9pbHn4o",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "update_than_cancel@example.com",
              "invoice_prefix": "B9E9641A",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "Update than cancel",
              "next_invoice_sequence": 2,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1MMtPjEI1oHzFYTAv9pbHn4o",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_N77cfXMnsSNumo",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2032,
                    "fingerprint": "VVFm0wJvkJACLKn7",
                    "funding": "credit",
                    "last4": "1111",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_N77cfXMnsSNumo/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_N77cfXMnsSNumo/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_N77cfXMnsSNumo/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null,
              "test_clock": null
            },
            {
              "id": "cus_N4tVbhhSBm3iyw",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1672411090,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "src_1MKjjJEI1oHzFYTApaRrGWPS",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "payments@test.com",
              "invoice_prefix": "B4D15DFD",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "Successful payments test",
              "next_invoice_sequence": 2,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "src_1MKjjJEI1oHzFYTApaRrGWPS",
                    "object": "source",
                    "ach_credit_transfer": {
                      "account_number": "test_53d3fe3ac7c5",
                      "bank_name": "TEST BANK",
                      "fingerprint": "4XFGaucmDt2WSbKG",
                      "refund_account_holder_name": null,
                      "refund_account_holder_type": null,
                      "refund_routing_number": null,
                      "routing_number": "110000000",
                      "swift_code": "TSTEZ122"
                    },
                    "amount": null,
                    "client_secret": "src_client_secret_UfziQAm7wBqFeSN89CM4aGyL",
                    "created": 1672411121,
                    "currency": "usd",
                    "customer": "cus_N4tVbhhSBm3iyw",
                    "flow": "receiver",
                    "livemode": false,
                    "metadata": {},
                    "owner": {
                      "address": null,
                      "email": "amount_0@stripe.com",
                      "name": null,
                      "phone": null,
                      "verified_address": null,
                      "verified_email": null,
                      "verified_name": null,
                      "verified_phone": null
                    },
                    "receiver": {
                      "address": "110000000-test_53d3fe3ac7c5",
                      "amount_charged": 0,
                      "amount_received": 0,
                      "amount_returned": 0,
                      "refund_attributes_method": "email",
                      "refund_attributes_status": "missing"
                    },
                    "statement_descriptor": null,
                    "status": "pending",
                    "type": "ach_credit_transfer",
                    "usage": "reusable"
                  },
                  {
                    "id": "card_1MMtPLEI1oHzFYTAfb6OmFfg",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_N4tVbhhSBm3iyw",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2032,
                    "fingerprint": "VVFm0wJvkJACLKn7",
                    "funding": "credit",
                    "last4": "1111",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 2,
                "url": "/v1/customers/cus_N4tVbhhSBm3iyw/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_1MKjjHEI1oHzFYTACunozZNh",
                    "object": "subscription",
                    "application": null,
                    "application_fee_percent": null,
                    "automatic_tax": {
                      "enabled": false
                    },
                    "billing": "send_invoice",
                    "billing_cycle_anchor": 1673620719,
                    "billing_thresholds": null,
                    "cancel_at": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "collection_method": "send_invoice",
                    "created": 1672411119,
                    "currency": "usd",
                    "current_period_end": 1673620719,
                    "current_period_start": 1672411119,
                    "customer": "cus_N4tVbhhSBm3iyw",
                    "days_until_due": 30,
                    "default_payment_method": null,
                    "default_source": null,
                    "default_tax_rates": [],
                    "description": null,
                    "discount": null,
                    "ended_at": null,
                    "invoice_customer_balance_settings": {
                      "consume_applied_balance_on_void": true
                    },
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_N4tWwyBu6JxdmZ",
                          "object": "subscription_item",
                          "billing_thresholds": null,
                          "created": 1672411120,
                          "metadata": {},
                          "plan": {
                            "id": "price_1LzYw9EI1oHzFYTAzp61ebC7",
                            "object": "plan",
                            "active": true,
                            "aggregate_usage": null,
                            "amount": 5000,
                            "amount_decimal": "5000",
                            "billing_scheme": "per_unit",
                            "created": 1667364745,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "nickname": "$50 - Monthly",
                            "product": "prod_MU6lynrEOgIKAE",
                            "tiers": null,
                            "tiers_mode": null,
                            "transform_usage": null,
                            "trial_period_days": null,
                            "usage_type": "licensed"
                          },
                          "price": {
                            "id": "price_1LzYw9EI1oHzFYTAzp61ebC7",
                            "object": "price",
                            "active": true,
                            "billing_scheme": "per_unit",
                            "created": 1667364745,
                            "currency": "usd",
                            "custom_unit_amount": null,
                            "livemode": false,
                            "lookup_key": null,
                            "metadata": {},
                            "nickname": "$50 - Monthly",
                            "product": "prod_MU6lynrEOgIKAE",
                            "recurring": {
                              "aggregate_usage": null,
                              "interval": "month",
                              "interval_count": 1,
                              "trial_period_days": null,
                              "usage_type": "licensed"
                            },
                            "tax_behavior": "exclusive",
                            "tiers_mode": null,
                            "transform_quantity": null,
                            "type": "recurring",
                            "unit_amount": 5000,
                            "unit_amount_decimal": "5000"
                          },
                          "quantity": 1,
                          "subscription": "sub_1MKjjHEI1oHzFYTACunozZNh",
                          "tax_rates": []
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_1MKjjHEI1oHzFYTACunozZNh"
                    },
                    "latest_invoice": "in_1MKjjHEI1oHzFYTA78VjFtC8",
                    "livemode": false,
                    "metadata": {},
                    "next_pending_invoice_item_invoice": null,
                    "on_behalf_of": null,
                    "pause_collection": null,
                    "payment_settings": {
                      "payment_method_options": null,
                      "payment_method_types": null,
                      "save_default_payment_method": "off"
                    },
                    "pending_invoice_item_interval": null,
                    "pending_setup_intent": null,
                    "pending_update": null,
                    "plan": {
                      "id": "price_1LzYw9EI1oHzFYTAzp61ebC7",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 5000,
                      "amount_decimal": "5000",
                      "billing_scheme": "per_unit",
                      "created": 1667364745,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "nickname": "$50 - Monthly",
                      "product": "prod_MU6lynrEOgIKAE",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "quantity": 1,
                    "schedule": null,
                    "start": 1672411119,
                    "start_date": 1672411119,
                    "status": "trialing",
                    "tax_percent": null,
                    "test_clock": null,
                    "transfer_data": null,
                    "trial_end": 1673620719,
                    "trial_start": 1672411119
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_N4tVbhhSBm3iyw/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_N4tVbhhSBm3iyw/tax_ids"
              },
              [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=50&starting_after=cus_MdRovJghp5oBDK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RsUIbMyxLQszELZQEXHTeFA9008YRV7Vhr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      enco[...]
